html,
body {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}
body {
  text-align: center;
  overflow: hidden;
}

.header {
	height: 18%;
}
.music-list {
	height: 40%;
	overflow: auto;
}

.add-form {
	height: 40%;
	margin-bottom: 0px;
}

.hidden-text-overflow {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.alert-fixed {
    position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}
.alert-fixed .alert {
  margin-bottom: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.add-form .tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}